.copy_right_footer 
{
    position: fixed;
    color: #6c757d;
    bottom: 0;
    width: 100%;
    background-color: #f5f5f5;
    line-height: 3;
    text-align: center; 
}

h1 
{
font-family: verdana;
font-size: 20px;
font-weight: bold;
}

h4
#camera
{
    width:500px;
    height: 400px;
    border:1px solid grey;
}

#logo_img
{
    width: 150px;
    border-radius: 100px;
    padding-top: 10px;
    
}